*~
rs*/
7:44000000-44500000.bed
homo_sapiens-chr7.vcf.gz
homo_sapiens-chr7.vcf.gz.csi
Homo_sapiens.GRCh38.dna.chromosome.7.fa
Homo_sapiens.GRCh38.dna.chromosome.7.fa.amb
Homo_sapiens.GRCh38.dna.chromosome.7.fa.ann
Homo_sapiens.GRCh38.dna.chromosome.7.fa.bwt
Homo_sapiens.GRCh38.dna.chromosome.7.fa.fai
Homo_sapiens.GRCh38.dna.chromosome.7.fa.pac
Homo_sapiens.GRCh38.dna.chromosome.7.fa.sa
